
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.text {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}


#btn {
    color: grey;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}